body{
	background-color: #ffff;
	font-family: Arial;
}

.main-container{
	margin: 50px auto;
	width: 70%;
}

table{
	background-color: white;
	text-align: center;
	border-collapse: collapse;
	width: 100%;
}

th, td{
	padding: 10px;
}

thead{
	background-color: #303030;
	border-bottom: solid 5px #303030;
	color: white;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: lightslategray;
	color: white;
}

